body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin:0;
    background:#FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Structure */
#main-header,#main-footer{
    color: #000000;
    text-align: center;
    padding:2px;
    justify-content: center;
}
#main-title{
    height:100px;
    display:flex;
    background: #EFEFEF;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
}
#main-header a{
    text-decoration: none;
    color:#000000;
}
#title{
    width:80%;
}
#container {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000000;
    position: relative;
    border-radius: 8px;
}
.menu{
    font-size: 10px;
    text-align: center;
    margin:-6px;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #000000;
    border-radius: 2px;
    margin: 4px 7px;
}
/* Main */
#main-nav a{
    text-decoration: none;
    color:#000000;
    padding:1px 5px;
    border-radius: 10px;
    font-size: 14px;
}
#main-nav ul{
    margin:auto;
    list-style-type: none;
    padding-left: 0px;
    padding-top:2px;
}
#main-nav a:hover{
    color: blue;
    padding-bottom:1px;
    border-radius:10px;
}
#main-nav .columns,#main-content #subject{
    margin:auto;
}
#main-content{
    margin:auto 0px;
}
#subject{
    width:90%;
    text-align: center;
    flex-direction: row;
    padding-bottom: 40px;
}
.content,.box{
    background:#EFEFEF;
    border-radius: 12px;
}
#subject .content{
    flex:33%;
    padding: 5px 2%;
    margin:20px 0px;
} 
#subject .split{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap:20px;
}
.box {
    font-size: 12px;
    padding-bottom:20px;
}
.content p{
    text-align: justify;
}
.split a{
    text-decoration: none;
    color:#000000;
}

#main-footer{
    margin-top:auto;
    background: #EFEFEF;
}
#main-nav {
    text-align: start;
    width:90%;
    margin:auto;
}
#main-nav ul{
    padding-top: 10px;
    background-color: grey; 
}
#main-nav li{
    padding-top:2px;
}
.hide {
    display: none;
  }
@media only screen and (min-width: 800px){
    #main-nav ul{
        width:95%;
    }
    #subject{
        width:85%;
    }
    #main-nav .columns,#main-content #subject{
    display:flex;
    justify-content:space-around;
    margin:auto;
    padding-bottom: 50px;
    }
    #subject .content{
        margin-top:0px;
        margin-bottom:0px;
    }
    .split{
        margin-left:5%;
    }
    #container{
        display:none;
    }
}