body{
    font-family: Arial, Helvetica, sans-serif;
    background: #E1E4E6;
    color: #3D6773;
}

/* Structure */
#content{
    width: 95%;
    margin: auto; /* center horizontally */
}
/* Header */
#main-header{
    text-align: center;
    margin-bottom: 20px;
}
#hamburger{
    width: fit-content;
    margin:auto;
    padding:0px;
}
.arrow{
    cursor:pointer;
}

#main-nav ul {
    padding-left: 0px;
}

#main-nav li {
    list-style-type: none; 
}

#main-nav a {
    text-decoration: none;
    color: #3D6773;
}

#main-nav a:hover {
    border-bottom: 1px solid#3D6773;
}
.nav-items{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2px;
    margin-top: 2px;
    margin-bottom:5px;
}
.hide-small {
    display: none;
}

/* Main */
#main-content{
    display: flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    margin: auto;
}
#bounce,#yoga{
    border: 1px solid black;
    width:50%;
    padding:10px;
    background: #fafad2;
    margin:auto;
    text-align: center;
}
#ball-container {
    width: 150px;
    height: 600px;
    position: relative;
    border: 1px solid #000;
    background: #FFFFFF;
    top:0.1;
    overflow: hidden;
    margin:auto;
}
#ball {
    width: 50px; 
    height: 50px; 
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
}
#startStop {
    text-decoration: underline;
    cursor:pointer;
    width:fit-content;
    margin:auto;
}

#yoga-container {
    display: flex;
    flex-direction: column;
}
  
.yoga-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}
  
.yoga-image {
    cursor: pointer;
    margin-right: 20px; 
}
  
.description {
    display: none;
    width: 200px; 
    padding: 10px;
    font-weight: bold;
}
  
#yoga img{
    max-width: 50%;
    max-height: 50%;
}
/* Footer */
#main-footer{
    background: #E1E4E6;
    padding-top:2px;
    color: #3D6773;
    text-align: center;
}
/* Typography */
h1{
    color: #3D6773;
}
h2{
    color: #F07D80;
}

/* Display */
.hide-content {
    display: none;
}
.show-content {
    display: block;
}

/* For larger resolution */
@media only screen and (min-width: 800px){
    #main-content{
        width:60%;
        margin:auto;
        justify-content: space-between;
    }
    #hamburger{
        display: none;
    }
    #nav-items{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #nav-items li::after {
        content: "|";
        padding:0px 20px; 
    } 
    #nav-items li:last-child::after {
        content: none;
    }

}